{block content}

<table border = 1>


    {for $rows=1 ; $rows < 9 + 1 ; $rows++} 
        <tr>

            {for $collums=1 ; $collums < 9 + 1 ; $collums++}
                <td> neco</td>
            {/for}

        </tr>
    {/for}
</table>

{/block}